@page
@using QuizModels;
@model QuizApplication.Pages.AddModuleModel
@{
}

<section class="add-todo-wrapper">
    <div class="container">
        <div class="add-todo-title__wrap">
            <h1>Add Module</h1>
        </div>
        <div class="todo-form__wrap">
            <form method="post">
                <div class="form-group">
                    <input asp-for="Modules!.ModuleName" placeholder="Module Name" required />
                </div>
                <div class="form-group">
                    <textarea asp-for="Modules!.Description" placeholder="Module Name" required></textarea>
                </div>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" asp-for="Modules!.NegativeMarking">
                    <label class="custom-control-label" for="Modules!.NegativeMarking">Enable negative marking</label>
                </div>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" asp-for="Modules!.Timed">
                    <label class="custom-control-label" for="Modules!.NegativeMarking">Enable negative marking</label>
                </div>
                <div class="form-group">
                    <input type="submit" value="Add Quiz Module" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</section>