html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.quiz-wrap {
    padding: 2rem 3.5rem;
}

.quiz-wrap .quiz-form__wrap .form-group {
    margin-bottom: 2.5rem;
}

.quiz-wrap .quiz-form__wrap .form-group label {
    font-size: 1.8rem;
}

.quiz-wrap .quiz-form__wrap .form-group .options {
    display: flex;
}

.quiz-wrap .quiz-form__wrap .form-group .options label {
    font-size: 1.5rem;
    padding-right: 1.5rem;
}

.quiz-wrap .quiz-stats {
    box-shadow: 0 1.5rem 2.65rem rgba(0,0,0,0.12);
    padding: 1.875rem;
    background-color: #f6f6f6;
    height: 100%;
    transition: all .3s;
    max-height: 400px;
}

/*Home Page*/
.module-wrap {
    padding: 3.5rem 0;
}

.module-wrap .title-wrap {
    padding-bottom: 2.5rem;
}

.module-wrap .module-wrap__inner .module-item {
    text-align: center;
    max-width: 250px;
    margin: auto;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(214, 214, 214);
    border-radius: 25px;
}

.module-wrap .module-wrap__inner .module-item a {
    font-size: 1.8rem;
    text-decoration: none;
    color: #737373;
}

form .form-group{
    padding-bottom: 1.8rem;
    max-width: 400px;
}
form .custom-control {
    padding-bottom: 1.8rem;
}

form .form-group input,
form .form-group select {
    width: 100%;
    min-height: 50px;
}

form .form-group textarea {
    width: 100%;
    min-height: 150px;
}
