@page
@model QuizApplication.Pages.Account.RegisterModel
@{
}

<section class="register-wrapper">
    <div class="container">
        <div class="register-title__wrap">
            <h1>Register</h1>
        </div>
        <div class="register-form__wrap">
            <form method="post">
                <div class="form-group">
                    <input asp-for="user.FirstName" placeholder="First Name" required />
                </div>
                <div class="form-group">
                    <input asp-for="user.LastName" placeholder="Last Name" required></input>
                </div>
                <div class="form-group">
                    <input asp-for="user.Email" placeholder="Email" required></input>
                </div>
                <div class="form-group">
                    <input asp-for="user.Password" placeholder="password" required></input>
                </div>

                <div class="form-group">
                    <input id="confirm-password" placeholder="confirm-password" required></input>
                </div>

                <div class="form-group">
                    <input type="submit" value="Register" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</section>